<html>
  <head>
    <title>About us</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="cont">
      <center style="margin-top: 1.4rem;">
        <h1>About Us</h1>
        <div class="img mb-2"></div>
        <p>
          Navya Healthcare (NH) incorporated in 1996; is engaged in running
          chain of hospitals. NH started its hospital operations in 2001 through
          its flagship Mohali Hospital.The team of physicians at Navya
          Healthcare has accomplished a landmark of 18,000 cardiac procedures.
          The company has also installed IT enabled HIS and PACS Systems that
          links every facilities available at any part of India leading to
          speedier diagnosis. The company has maintained a standard ratio of
          nurse–patient as 1:1 in ICUs.Under Healthcare the company state of the
          art technology in their hospitals. The company has a network of Super
          Speciality Hospital Hubs that concentrate on one or more specialities.
          These hospitals are interconnected to a larger network of
          multi–speciality hospitals that ensures patient access to expert care
          for any speciality.The Company also focuses on research area. It
          encourages and conducts medical research with societal rewards and
          benefits and also has its presence in various projects.
        </p>
        
        </button>
      </center>
    </div>
  </body>
</html>
