<h1>Sky High Hospital</h1>
<div class="jumbotron">
    <h1 class="display-3">Sky High Hospital</h1>
    <p class="lead">A super multispeciality hospital to serve the humanity!</p>
    <hr class="my-4">
    <p>Your health is our commitment</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="About.ejs" role="button">Learn more</a>
    </p>
  </div>


  