<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/animate.css">
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <title>HMS</title>
</head>
<body>
    <header>
        
        <nav>
            <div class="row">
                <!--------
                    <img src="resources/img/logo1.jpg" class="logo" alt="logo">
                    -------->
                
                <img src="resources/img/logo.png" class="logo-black" alt="logo-black">
                <img src="resources/img/logo.png" class="logo" alt="logo-black">
                <ul class="main-nav">
                    <li><a href="#Services" >Services</a></li>
                    <li><a href="#Team" >Our Team</a></li>
                    <li><a href="#Goal" >Goals</a></li>
                    <li><a href="#Testimonials" >Testimonials</a></li>
                    <li><a href="#contact" >Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <label for="nav-toggle" class="nav-toggle-label">
            <span>X</span>
        </label>
        <div class="main-text">
            <h1>Welcome to Navya</h1>
            <p>We're commited to your health. We're here when you need us. For everyday care or life-changing care, you can count on us to keep you and your loved ones safe and healthy.</p>
            <a class="btn btn-full" href="#">Learn more</a>
            
        </div>
    </header>

    <section class="Services js--services" id="Services">
        <div class="row">
            <h2>Services we provide</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-3 box">
                <ion-icon name="medical-outline" class="icon-big"></ion-icon>
                <h3>Our Doctors</h3>
                <p>
                    No More Repetition – Doctors of the Future Will Treat and Innovate
                    Artificial intelligence, wearable sensors, virtual reality – these disruptive technologies are completely changing the way patients and doctors perceive healthcare. 
                </p>
                <!-- <a class="btn btn-services" href="#"><ion-icon name="search-outline"></ion-icon>Find here</a> -->
            </div>
            <div class="col span-1-of-3 box">
                <ion-icon name="location-outline" class="icon-big"></ion-icon>
                <h3>Locations</h3>
                <p>
                    All Our hospitals are dynamically situated in almost every area. You many find the nearest to yours over here. You want to find route or near places. Location maps will help you do that thing, The first we provide for user with functions advanced the best way. 
                </p>
                <!-- <a class="btn btn-services" href="#"><ion-icon name="navigate-circle-outline"></ion-icon></ion-icon>Explore</a> -->
            </div>
            <div class="col span-1-of-3 box">
                <ion-icon name="clipboard-outline" class="icon-big"></ion-icon>
                <h3>Appointments</h3>
                
                <p>
                    Meet us at Navya Hospital for health screening packages. Book a health check-up now. Book an appointment online to meet the best specialists doctors of Navya Hospital. Explore Treatment Options From Specialists at Your Nearest Navya Hospital. 
                </p>
                <a class="btn btn-services" href="patients/bookDoctor"><ion-icon name="bookmark-outline"></ion-icon></ion-icon>Book now</a>
            </div>
        </div>
    </section>
 
<section class="Team" id="Team">
    <div class="slideshow">
        <div class="slideshow-item">
            <img src="resources/img/doc1.jpg">
            <div class="slideshow-item-text">
                <h3>Dr. RK Sinha, M.D.</h3>
                <p>
                    Dr. Sinha is also one of the best doctors of Psychiatry. He treats the problems of depressions and mind-related problems.

                    Dr. Sinha got her accreditation from The University of Texas Southwestern Medical School. He is also an expert on mood disorders and anxiety. Currently, she is working as a Professor of Psychiatry at Icahn School of Medicine at Mount Sinai. She is also affiliated with Mount Sinai Services Elmhurst Hospital Center and New York Medical College at present.
                </p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="resources/img/doc2.jpg">
            <div class="slideshow-item-text">
                <h3>Dr. VK Dixit, M.D.</h3>
                <p>
                    Dr. Dixit is a specialized doctor in ENT Otolaryngologist, Adenoidectomy, esophagoscopy, Nasal airway surgery, and tracheostomy. He is a world-famous ENT Doctor and treats problems of the ear, head, nose, throat, and neck.

                    Dr. Dixit graduated from the Medical College of Pennsylvania in 1991. He is affiliated with Children’s Hospital Colorado At Memorial Hospital Central and the University Of Colorado Hospital.
                </p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="resources/img/doc3.jpg">
            <div class="slideshow-item-text">
                <h3>Dr. PK Mathur, M.D, M.S.</h3>
                <p>
                    Dr. Mathur is an Associate Professor of Orthopedics and of The Dartmouth Institute Medical Director at Dartmouth-Hitchcock Medical Center

                    Dr. Mathur got his accreditation in 1985 from Tufts University. He is a pioneer in the study and treatment of spine-related conditions. He hones surgery of the Spine, including Cervical, Thoracic and Lumbar Disorders, Disk Herniation, Spinal Stenosis, Spondylolisthesis, Spondylotic Myelopathy, Spinal Cord Injury, and Spine Trauma. Also, he had discovered many new techniques for spine treatment.
                </p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="resources/img/doc4.jpg">
            <div class="slideshow-item-text">
                <h3>Dr. Mehak Aggarwal, M.D.</h3>
                <p>
                    Dr. Mehak is also one of the best-known doctors of Pediatricians in the world. She graduated from the University of Miami Leonard M Miller School of Medicine in 1972. She treats the problems of growth and child development.

                    Dr. Mehak currently practices at East Bay Pediatric & Medical Group and is affiliated with Alta Bates Summit Medical Center Alta Bates Campus and Children’s Hospital & Research Center Oakland.
                </p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="resources/img/doc5.jpg">
            <div class="slideshow-item-text">
                <h3>Dr. PV Sheikh, M.D.</h3>
                <p>
                    Dr. Sheikh is a well-known Gynecologist/Oncologist. His specialization field is Oncologist of Obstetrician and Gynecology. She is also considered to be one of the best doctors of Oncology in the world. The term Oncology is the study of cancer.

                    Dr. Sheikh graduated from the University of Maryland School of Medicine in 1986. Currently, he is affiliated with Medstar Harbor Hospital and Sinai Hospital Of Baltimore.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="Goals" id="Goal">
    <div class="row">
        <h2>Focusing on our goals</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-4 box">
            <img src="resources/img/happy-patient.jpg" alt="happy pateint">
            <h3>Pateint experience</h3>
            <div class="goal-feature">
                <p>
                    Improving the patient experience can seem like a moving target influenced by a variety of factors. 
                </p>
                <ul>
                    <li>Communication with clinicians</li>
                    <li>Responsiveness of hospital staff</li>
                    <li>Cleanliness and quietness of the hospital environment</li>
                    <li>Pain management</li>
                </ul>
            </div>
            </div>
        <div class="col span-1-of-4 box">
            <img src="resources/img/hygeine.jpg" alt="hygeine">
            <h3>Hygeine</h3>
            <div class="goal-feature">
                <p>
                    Good hygiene in hospitals plays a vital role in ensuring that patients do not catch dangerous infections and diseases
                </p>
                <ul>
                    <li> Maintain Cleanliness Within The Hospital</li>
                    <li>Staff Education</li>
                    <li>Decontamination Of Shared Equipment</li>
                    <li>Hand Hygiene Practices</li>
                </ul>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="resources/img/technology.jpg" alt="tech">
            <h3>latest tech</h3>
            <div class="goal-feature">
                <p>
                    Some say technology will replace 80% of doctors in the future. I disagree. Instead, it will help doctors to achieve better.
                    <ul>
                        <li>Pediatrics</li>
                        <li>Sports medicine and rehabilitation</li>
                        <li>Dermatology</li>
                        <li>Epidemiology</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="resources/img/quality.jpg" alt="quality">
            <h3>Quality of service</h3>
            <div class="goal-feature">
                <p>
                    Service quality is considered to be as one of the significant factor to keep people safe and health from diseases.
                </p>
                <ul>
                    <li>Maintains error free records</li>
                    <li>Convenient consultation hours</li>
                    <li>Understand the specific needs of patient</li>
                    <li>Responding quickly</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="testimonials" id="Testimonials">
    <div class="container">
        <div class="row">
            <h2>Pateint Testimonials</h2>
        </div>

        <div class="row">
            <div class="col span-1-of-3">
                <blockquote>
                    The waiting room was comfortable, and I was ushered in about 20 minutes after arrival. Dr. Snyder is extremely knowledgeable, took the time to look at my MRI, and listened carefully to my injury history. He was very thoughtful about his opinion and did not offer "pie in the sky" possibilities for the outcome for my shoulder. I would come back to the institute again if I have future ortho needs. Dr. Snyder and his staff are great!”
                    <cite><img src="resources/img/pateint-1.jpg" >– Diane P.</cite>
                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    I had a hip replacement with Dr. Bawa. The surgery went smoothly. I was walking right after surgery. I had physical therapy the same day. The in-home care included a nurse visit and physical therapy. PT had me doing steps within one day after surgery. I was golfing back on the golf course within 2 months. I had no pain after a round of golf. I have recommended Dr. Bawa to many friends. His technique for hip replacement, anterior, enables quick recovery and healing.”
                    <cite><img src="resources/img/pateint-2.jpg"> – James H.</cite>
                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    Dr. Jain did surgery on my lower lumbar. I am thrilled with his care, and I feel that he is an excellent Dr. and surgeon. I had severe unexpected pain after surgery; he ordered tests to ensure that the surgery went well and as a precaution, called in his colleague, Dr. Schopler, to review criteria and examine me. Everything was good with the operation, and Dr. Jain ordered steroids to calm nerves down, and all went well from there.”
                    <cite><img src="resources/img/pateint-3.jpg" >– Wendy W.</cite>
                </blockquote>
            </div>
        </div>
    </div>
    </section>
    <footer id="contact">
           <div class="row">
                    <p>write us at Navyahospitals@gmail.com</p>
                    <p class="right">toll-free number 101-200-830</p>
            </div>
       </footer>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("crousal");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
    </script>

    <script>
        $(document).ready(function() {
    
    
    /* For the sticky navigation */
    $('.js--services').waypoint(function(direction) {
        if (direction == "down") {
            $('nav').addClass('sticky');
        } else {
            $('nav').removeClass('sticky');
        }
    }, {
      offset: '60px;'
    });
    
    
    /* Scroll on buttons */
    $('.js--scroll-to-plans').click(function () {
       $('html, body').animate({scrollTop: $('.js--section-plans').offset().top}, 1000); 
    });
    
    $('.js--scroll-to-start').click(function () {
       $('html, body').animate({scrollTop: $('.js--section-features').offset().top}, 1000); 
    });
    
    
    /* Navigation scroll */
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    
    
    /* Animations on scroll */
    $('.js--wp-1').waypoint(function(direction) {
        $('.js--wp-1').addClass('animated fadeIn');
    }, {
        offset: '50%'
    });
    
    $('.js--wp-2').waypoint(function(direction) {
        $('.js--wp-2').addClass('animated fadeInUp');
    }, {
        offset: '50%'
    });
    
    $('.js--wp-3').waypoint(function(direction) {
        $('.js--wp-3').addClass('animated fadeIn');
    }, {
        offset: '50%'
    });
    
    $('.js--wp-4').waypoint(function(direction) {
        $('.js--wp-4').addClass('animated pulse');
    }, {
        offset: '50%'
    });
    
    
    /* Mobile navigation */
    $('.js--nav-icon').click(function() {
        var nav = $('.js--main-nav');
        var icon = $('.js--nav-icon i');
        
        nav.slideToggle(200);
        
        if (icon.hasClass('ion-navicon-round')) {
            icon.addClass('ion-close-round');
            icon.removeClass('ion-navicon-round');
        } else {
            icon.addClass('ion-navicon-round');
            icon.removeClass('ion-close-round');
        }        
    });
});
    </script>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>

</body>
</html>



