<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style_sign.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="wrapper">
            <div class="reg_form">
                <div class="heading">
                LOGIN
                </div>
  <%- include('partials/dismissiblealert.ejs') %>


                <form action="/user/login" method="POST">
                    <div class="form_wrap">
                        <div class="inp_grp">

                            <div class="inp_wrap">
                                <label for="mail">Email</label>
                                <input type="email"  name="email" id="mail">
                            </div>

                            <div class="inp_wrap">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password">
                            </div>

                            <button class="btn" type="submit" value="Submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>

