<div class="to-center">
  <div class="h2 mb-5">Hospital Management System</div>
  <%- include('partials/dismissiblealert.ejs') %>
  <div class="row">
    <div class="col">
      <form action="/user/login" method="POST">
        <fieldset>
          <legend>Login</legend>
          <div class="mb-3">
            <label for="useremail" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="useremail"
              name="email"
              aria-describedby="emailHelp"
              required
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="userpassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="userpassword"
              name="password"
              required
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
